
@model PagedList.IPagedList<Soccer.Models.Player>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Team Name", "Index", new { sortOrder ="Team Name"})
           
        </th>
        <th>
           Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Team.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <span class="glyphicon glyphicon-edit">@Html.ActionLink("Edit", "Edit", new { id = item.PlayerId })</span>|
            @Html.ActionLink("Details", "Details", new { id = item.PlayerId }) |
            <span class="glyphicon glyphicon-remove-circle">@Html.ActionLink("Delete", "Delete", new { id = item.PlayerId })</span>
</td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page}))